certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
environs==10.3.0
fonttools==4.47.2
idna==3.6
kiwisolver==1.4.5
lets-plot==4.2.0
marshmallow==3.20.2
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
palettable==3.3.3
pandas==2.2.0
pillow==10.2.0
pyparsing==3.1.1
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tzdata==2023.4
urllib3==2.1.0
